body{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
input:focus {
    outline: none;
}
.inputField{    
    position: relative;
    display: inline-block;
}

.inputField img {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    z-index: 1;
}
.skew-left {
    transform-origin: right; 
    transform: skewX(-15deg); 
}
.skew-right {
    transform-origin: right; 
    transform: skewX(15deg); 
}
.shadow{
    box-shadow: 3px 2px 30px 0px rgba(0, 0, 0, 0.05);
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #F8EDB1;
  }
  .shadowBtn{
    box-shadow: 3px 2px 30px 0px rgba(0, 0, 0, 0.05), 0px 0px 3px 0px rgba(0, 0, 0, 0.25) inset;
  }
  .shadow-light{
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    
  }
  .shadow-on-category:hover{
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  }
  .background-light-green{
    background-color: rgba(59, 178, 128, 0.10);;
  }
  ::placeholder {
    color: #5B6167 !important;
    opacity: 1; 
  }
  .small-white-opacity{
    color: rgba(255, 255, 255, 0.80);
  }